.legends {
  .legendBlock {
    height: 20px;
    float: left;
    margin-right: 20px;

    .indicatorWrapper {
      position: relative;
      height: 100%;
      width: 30px;
      display: inline-block;

      .legendIndicator {
        width: 20px;
        height: 5px;
        display: inline-block;
        position: absolute;
        top: 13px;
      }
    }

    .title {
      font-size: 12px;
    }
  }
  float: left;
}
